.tass-customer.tass-page__customer
  .tass-s_container.tass-customer__container
    +tass-s_picture().tass-customer__image-wrapper(
      src='img/tass-customer__image.png',
      alt='Девушка',
    )
    p.tass-s_description.tass-customer__description Рамзан Ахматович Кадыров принимал наши проекты :)
