.tass-intro.tass-page__intro
  .tass-s_container.tass-intro__container
    .tass-logo.tass-intro__logo
      img.tass-logo__image(src='img/tass-logo__image.png', alt='ТАСС')
    .tass-intro__heading
      h1.tass-intro__title Разработка сайта для ТАСС
      p.tass-s_description.tass-intro__subtitle
        | для Фестиваля культуры#[br]и искусств Северного Кавказа
