extends ../base/_page_template

block page
  body.tass-page
    .tass-page__container
      include ../components/capital/_page-header/_page-header
      include ../components/capital/_customer/_customer
      include ../components/capital/_conditions/_conditions
      include ../components/capital/_design/_design
      include ../components/capital/_decoration/_decoration
    script(src='js/picturefill.js')
