extends ../base/_page_template

block page
  body.page
    div.page__container
      header.page-header.page__header
        .s_container.page-header__container
          .logo.page-header__logo
            img.logo__image(src='img/logo__image.png' alt='ТАСС')
          .page-header__heading
            h1.page-header__title Разработка сайта для ТАСС
            p.page-header__subtitle
              | для Фестиваля культуры#[br]и искусств Северного Кавказа
    script(src='js/picturefill.js')
