.tass-design__pattern {
  position: absolute;
  z-index: -1;

  &--1 {
    top: 1660px;
    left: -93px;
    width: 450px;
    height: 442px;
  }

  &--2 {
    top: 1280px;
    left: 297px;
    width: 500px;
    height: 507px;
  }
}
