section.tass-design.tass-page__design
  .tass-s_container.tass-design__container
    p.tass-s_description.tass-design__description Дизайн проекта отрисовывался в стиле ЛайнАрт (от руки), что позволило подчеркнуть индивидуальность#[br]ландшафта и самого события.
