html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include font();
  min-width: $s-min-width;
  margin: 0;
  font-style: normal;
  line-height: 1;
  color: #181818;
  background-color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg,
picture,
video {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

button {
  display: block;
  cursor: pointer;
}
