-
  const FONT_SETS = {
    'a_bosanovacps': {
      weightNames: ['regular'],
      styleNames: ['normal'],
    },
    'helveticaneuecyr': {
      weightNames: ['light', 'regular'],
      styleNames: ['normal'],
    },
  };
