-
  const GENERAL_META_DATA = [
    ['description', SITE_DESCRIPTION],
    ['cmsmagazine', 'cdc79537f1d9f113c73cd2fd46ca0125'],
    ['author', 'Веб-студия WayToStart'],
    ['viewport', 'width=device-width, initial-scale=1, shrink-to-fit=no'],
  ];
