.tass-conditions.tass-page__conditions
  .tass-s_container.tass-conditions__container
    picture(class=[
      'tass-conditions__image-wrapper',
      'tass-conditions__image-wrapper--1',
    ])
      img.tass-conditions__image(
        src='img/tass-conditions__image-1.png',
        alt='Саша Ирбе',
      )
    picture(class=[
      'tass-conditions__image-wrapper',
      'tass-conditions__image-wrapper--2',
    ])
      img.tass-conditions__image(
        src='img/tass-conditions__image-2.png',
        alt='Условия фестиваля',
      )
    p.tass-s_description.tass-conditions__description Разработка промо сайта по заказу ТАСС для Фестиваля культуры и искусств «Северный Кавказ»
