.tass-conditions__image-wrapper {
  &--1 {
    position: absolute;
    top: -176px;
    right: 0;
    z-index: 1;
    width: 455px;
    height: 559px;
  }

  &--2 {
    width: 796px;
    height: 559px;
  }
}
