section.tass-page-header.tass-page__header
  .tass-s_container.tass-page-header__container
    .tass-logo.tass-page-header__logo
      img.tass-logo__image(src='img/tass-logo__image.png', alt='ТАСС')
    .tass-page-header__heading
      h1.tass-page-header__title Разработка сайта для ТАСС
      p.tass-s_description.tass-page-header__subtitle
        | для Фестиваля культуры#[br]и искусств Северного Кавказа
