include ../components/scaffold/_generic-list/_m_generic-list
include ../components/scaffold/_generic-picture/_m_generic-picture
include ../components/capital/_blending/_m_blending__heading-wrapper
include ../components/capital/_calculator-toggle/_m_calculator-toggle
include ../components/capital/_customs/_m_customs
include ../components/capital/_logo/_m_logo
include ../components/capital/_request-form/_m_request-form
include ../components/capital/_request-text-formgroup/_m_request-text-formgroup
include ../components/capital/_subarticle/_m_subarticle
